<script src="//code.jquery.com/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <title>JS Bin</title>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://gitbox-131549.use1.nitrousbox.com/movies"></a>
    </div>

  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h2><%= "#{@m.title}" %></h2> <a href="http://gitbox-131549.use1.nitrousbox.com:8080/movies">All Movies</a>
      <div class="thumbnail">
        <a href=<%= "#{@m.url}" %>><img height="600px" width="400px" src=<%= "#{@m.image}" %> alt=<%= "#{@m.title}" %>></a>
      </div>
    <a href=<%="http://gitbox-131549.use1.nitrousbox.com:8080/movie/#{@m.id}/edit"%>>Edit</a> |
      <a href=<%="http://gitbox-131549.use1.nitrousbox.com:8080/movie/#{@m.id}/destroy"%>>Delete</a>
    </div>
  </div>
</div>
  